{% extends 'navbase.html' %}

{% block title %}Course Team{% endblock %}

{% block content %}

    <h3>Instructor:</h3>
    <br>
    <p>Dr. Anna Bretscher
    <br>
    Email: anna.bretscher@utoronto.ca
    <br>
    Office: IC 493
    </p>
    <br>
    <h3>Teaching Assistants:</h3>
    <br>
    <p>
    1. Aisha Abdul Rahiman <br> aish.rahiman@mail.utoronto.ca <br> office hours: Monday 11:00 - 12:00
    <br>
    <br>
    2. Leo Wang <br> l.wang@mail.utoronto.ca <br> office hours: Monday 12:00 - 1:00
    </p>

{% endblock %}
