{% extends 'navbase.html' %}

{% block title %}Feedback{% endblock %}

{% block content %}
<br>
    <label for="feedback">What do you like about the instructor teaching?</label>
    <br>
    <textarea id="feedback" name="feedback" placeholder= "Enter your feedback here" rows="10" cols="60"></textarea>
    <br>
    <input class="button" type="submit" value="Submit">

    <br>

    <label for="feedback">What do you recommend the instructor to do to improve their teaching?</label>
    <br>
    <textarea id="feedback" name="feedback" placeholder= "Enter your feedback here" rows="10" cols="60"></textarea>
    <br>
    <input class="button" type="submit" value="Submit">

    <br>

    <label for="feedback">What do you like about the labs?</label>
    <br>
    <textarea id="feedback" name="feedback" placeholder= "Enter your feedback here" rows="10" cols="60"></textarea>
    <br>
    <input class="button" type="submit" value="Submit">

    <br>

    <label for="feedback">What do you recommend the lab instructors to do to improve their lab teaching?</label>
    <br>
    <textarea id="feedback" name="feedback" placeholder= "Enter your feedback here" rows="10" cols="60"></textarea>
    <br>
    <input class="button" type="submit" value="Submit">

{% endblock %}