{% extends 'navbase.html' %}

{% block title %}Lectures{% endblock %}

{% block content %}

<h3>Grades:</h3>
<br>

    <div class="grades-table">
        {% for header in headings %}
            <span class="table-header">{{ header }}</span>
        {% endfor %}


        {% for row in data %}
            {% for entry in row %}
                <span>{{ entry }}</span>
            {% endfor %}
        {% endfor %}

        <span></span>
        <span></span>
        <span><input type="submit" name="regrade-submit" value="Submit regrade request" class="button"></span>
        <span><input type="submit" name="regrade-submit" value="Submit regrade request" class="button"></span>
        <span><input type="submit" name="regrade-submit" value="Submit regrade request" class="button"></span>
        <span><input type="submit" name="regrade-submit" value="Submit regrade request" class="button"></span>
    </div>

{% endblock %}
