{% extends 'navbase.html' %}

{% block title %}Lectures{% endblock %}

{% block content %}

<h3>Grades:</h3>
<br>

    <div class="grades-table">
        {% for header in headings %}
            <span class="table-header">{{ header }}</span>
        {% endfor %}


        {% for row in data %}
            {% for entry in row %}
                <span>{{ entry }}</span>
            {% endfor %}
        {% endfor %}

        {% if session['usertype'] == 'student' %}
            <span></span>
            <span></span>
            <span><form action="/grades.html" method= "POST">
                <label for="A1 reason">Reason:</label>
                <input type="text" id="A1" name="A1 reason">
                <input type="submit" name="regrade-submit-A1" value="Submit regrade request" class="button">
            </span>
            <span><form action="/grades.html" method= "POST">
                <label for="A2 reason">Reason:</label>
                <input type="text" id="A2" name="A2 reason">
                <input type="submit" name="regrade-submit-A2" value="Submit regrade request" class="button">
            </span>
            <span><form action="/grades.html" method= "POST">
                <label for="A3 reason">Reason:</label>
                <input type="text" id="A3" name="A3 reason">
                <input type="submit" name="regrade-submit-A3" value="Submit regrade request" class="button">
            </span>
            <span><form action="/grades.html" method= "POST">
                <label for="final reason">Reason:</label>
                <input type="text" id="final" name="final reason">
                <input type="submit" name="regrade-submit-F" value="Submit regrade request" class="button">
            </span>
        {% endif %} 
        
    </div>

{% endblock %}
