{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
    <nav id="navbar" class="nav">
        <ul class="nav-list">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="syllabus.html">Syllabus</a>
            </li>
            <li>
                <a href="lectures.html">Lectures</a>
            </li>
            <li>
                <a href="labs.html">Labs</a>
            </li>
            <li>
                <a href="assignments.html">Assignments</a>
            </li>
            <li>
                <a href="courseteam.html">Course Team</a>
            </li>
            <li>
                <a href="exams.html">Exams</a>
            </li>
            <li>
                <a href="feedback.html">Feedback</a>
            </li>
            <li>
                <a href="calendar.html">Calendar</a>
            </li>
            <li>
                <a href="resources.html">Resources</a>
            </li>
        </ul>
    </nav>

    {% block body %}{% endblock %}
{% endblock %}